{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div> liste des examinateurs </div>
    {%  for examinateur in examinateurs  %}
    <div> nom : {{examinateur.user.name}} - code examinateur : {{examinateur.codeExam}} </div>
    {% endfor %}
    <div> liste des formateurs </div>
    {%  for formateur in formateurs %}
    <div> nom : {{formateur.user.name}}</div>
    {% endfor %}
</div>
{% endblock %}
