{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1 classs='text-center'>Create new Event</h1>

    <div class='container'>

        {{ include('event/_form.html.twig') }}

        <a class='btn btn-primary mt-3' href="{{ path('user') }}">back to list</a>
    </div>
{% endblock %}
