{% extends 'base.html.twig' %}

{% block title %}ajouter un étudiant{% endblock %}

{% block body %}
    <h1 class='text-center'>ajouter des étudiants</h1>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-primary' href="{{ path('event_edit', {'id': event.id})}}">Editer l'event</a>
{% endblock %}
