{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1 class='text-center'>Edit Event</h1>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-primary' href="{{ path('event_admin') }}">back to list</a>

    {{ include('admin/event/_delete_form.html.twig') }}
{% endblock %}
