{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class='Accueil'>
        <h1>Bienvenue sur la page d'accueil</h1>

        <h2>Afin d'accéder au fonctionnalité merci de bien vouloir vous connectez</h2>

        <a class='btn btn-info'  href="{{ path('app_login') }}">Se connecter</a>
    </div>
{% endblock %}
