{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex-column">

    <h1>Veuillez vous rendre dans l'onglet Login afin de vous identifiez</h1>
    <img class='align-items-center'   src="http://www.ifcameroun.com/wp-content/uploads/2017/02/capture-decran-2017-02-27-a-18.40.55.png" alt="" srcset="">

    </div>
{% endblock %}
