{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1 class='text-center'>Create new Student</h1>

    {{ include('admin/student/_form.html.twig') }}

    <a  class='btn btn-primary w-100 mt-3' href="{{ path('student_index') }}">back to list</a>
{% endblock %}
