@import url('bootstraps/scss/bootstraps');

.SecurityForm{
    height: 40vh;
    width: 40vw;
    margin: auto;
    border: 2px solid black;
    align-items: center;
    border-radius: 10px;
    display: flex;
    box-shadow: 3px 3px 3px black;
    background: linear-gradient(#af67e9, #6565e7);
}

.SecurityForm button{
    margin-top: 20px;
}

.ExamFormaContainer{
    display: flex;
    width: 100%;
}
.tabExam{
    text-align: center;
    height: 100vh;
    width: 50%;
    border-right: 2px solid black;
}

.tabFormateur{
    width: 50%;
    height: 100vh;
    text-align: center;
}


.newEventCalendar{
    display: flex;
    justify-content: center;
}

.btnLogout{
    width: 200px;
}


.SecurityBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh !important ;
    width: 100vw !important ;
}


.SecurityBox img{
    height: 50%;
}

.SecurityBox button:hover{
    background-color: red;
}