{% extends 'base.html.twig' %}

{% block title %}New TypeEvent{% endblock %}

{% block body %}
    <h1 class='text-center'>Create new TypeEvent</h1>

    {{ include('admin/type_event/_form.html.twig') }}

    <a class='btn btn-primary w-100 mt-3' href="{{ path('type_event_index') }}">back to list</a>
{% endblock %}
