<h1>Bonjour et bienvenue chez Philiance !</h1>

<p>Vous trouverez ci-dessous votre identifiant et mot de passe</p>

<p>identifiant : {{ identifiant }}</p>
<p>mot de passe : {{ motDePasse }}</p>

<p> à très vite ! </p>